@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-fuchsia-800;
}

.card {
  @apply bg-fuchsia-100
  w-3/6
  h-4/6
  rounded-md
  p-2
  flex
  place-content-center;
}

.card-img {
  @apply mx-2;
}

.btn {
  @apply p-2 text-white
  hover:-translate-y-1
  hover:scale-100
  hover:bg-fuchsia-500
  transition ease-in-out  
  rounded
  duration-200
  bg-indigo-500
  focus:outline-none 
  focus:ring
  focus:ring-fuchsia-300
  focus:bg-fuchsia-500;
}
